.markdown {
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;

    * {
    	padding-left: 10px;
    	color: rgba(50,50,50, 1) !important;
    }

    img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
        padding: 0px;
    }

    iframe {
        max-width: 100%;
    }

    p {
        margin-bottom: 10px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 30px;
    }

    a {
        opacity: .9;
        text-decoration: underline;
    }
}
