<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- So users cannot zoom into page, feels more native -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>CardSwapr: Your Personal Gift Card Trading Center</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link class="headerIcon" rel="shortcut icon" href="/img/logo.png">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="nav">
            <div class="logo"><div></div></div>
            <div flex></div>
            <div>
                <div><a href="dashboard/">dashboard</a></div>
            </div>
            <div class="bg hidden"
                data-anchor-target="#fold"
                data-400="@class: bg hidden;"
                data-401="@class: bg;"
            ></div>
        </div>

        <section id="post" class="most">
            <content>

            </content>
            <content>
                <ul id="posts">
                    <% posts.forEach(function(post) { %>
                        <li>
                            <a href="<%- post.raw %>"><%- post.title %></a> - <%= post.created %>
                        </li>
                    <% }) %>
                </ul>
            </content>
        </section>

        <section id="legal">
            <span>CardSwapr, LLC. &#8482; <script type="text/javascript">document.write(new Date().getFullYear())</script>. All Rights Reserved.</span>
        </section>
    </body>
</html>
